{% if 'rust' in languages %}[workspace]
resolver = "2"
members = ["apps/rust/*", "libs/rust/*"]

[workspace.lints.clippy]
all = "warn"
pedantic = "warn"
unwrap_used = "warn"

[workspace.lints.rust]
unsafe_code = "forbid"
{% endif %}
